
.flex-container2{
    display: flex;
    /* align-items:center ; */
    flex-wrap: wrap;
    justify-content: center;
    /* /* background: #333; */
    margin: 50px 30px;
    padding: 17.3px;
    /* border: 14px solid #000;
    overflow: 3px solid #094;
    max-width: 1000px;
    min-width: 100px;  */
}

.form{
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding:30px ;
    order: 5;
}

.form__input{
    width: 100%;
    padding:7px;
    margin: 9px 0;
    border: none;
    border-bottom: 3px solid rgb(182, 159, 117);
    background: transparent;
    color: #000;
}
.form__input:focus{
    background: linear-gradient(to bottom,transparent,rgb(182, 159, 117));
    outline: none;
    border-bottom: 3px solid rgb(182, 159, 117);
}
.form textarea{
    min-height: 100px;
    resize: none;
}
.form-img{
    /* flex: 1; */
    margin-left:26% ;
    display: flex;
    min-width: 300px;
    max-width: 400px;
    order: 2;
    justify-content: center;
}
/* .img-container{
    padding: 20px;
    margin: auto;
    background: #fff;
    border-radius: 50%;
} */
.form-img img{
    width: 70%;
    border-radius: 50%;
}
.form input[type="submit"]{
    background: rgb(182, 159, 117);
    border-bottom: none;
    padding: 12px;
}
.form input[type="submit"]:hover{
    background: rgb(228, 204, 161);
    border-bottom: none;
    padding: 12px;
}
.form input[type="submit"]:focus{
    background: rgb(228, 204, 161);
}
.form input[type="submit"]:active{
    background: linear-gradient(to bottom,rgb(182, 159, 117),rgb(228, 204, 161));
}