body{
 background-image: url("https://fondosmil.com/fondo/31823.jpg");  
 font-family:Helvetica,Arial,sans-serif;
 font-size: 20px;
 box-sizing: border-box;
}
/* ---------------------------------------header------------------------- */

.nav{
    width: 100%; 
    background: #fff;
    padding-bottom: 40px; 
}
.nav__ul{
    text-align: center;
    font-size: 3vh;
    padding-top: 40px;
}
.nav__li{
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    text-transform: uppercase;
}
.nav__li a{
    text-decoration: none;
    color: #000;
    
}
.nav__li:hover a{
    color: #a9733e;
}
.nav__li i:hover{
    color:#a9733e; 
    /* border-bottom: 6px solid #a9733e;  */
}
.logo{
    width: 100px;
    height: 100px;
    float: left;
}
/* -------------------------------------------main---------------------------- */
h1{
    text-align: center;  
    font-style: oblique;
}
h2{
    text-align: left;
    padding: 5px;
    margin-left: 20px;
    
}
h3{
    margin-left: 20px;
}

.img-centrado{
    margin-left: 30%;
}
.imagen1{
    margin-left: 15%;
}
/* ----------------------------------------------footer----------------------------- */
footer{
    padding-bottom: 19px;
    text-align: center;
    background: #131313;
    color: white;
}

/* ---------------------------------------------dia----------------------------- */
.h2-dia{
    margin-top: 2%;
    text-align: center;
    width: 98%;
    border-bottom: 4px solid #fff;
}
.img-dia{
    margin-left: 30px;
    width: 500px;
    height: 400px;
}

@media only screen and (max-width:985px){

    *{
        display: none;
    }
    b{
        content: "ESTA SECCION ESTARA DISPONIBLE PROXIMAMENTE";
        color: #000;
    }
}
  
