*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background-image: url("https://images.e-tsw.com/_lib/b2b2c-sites/amr/dreamsmx/img/textures/main-bg.png");  
 font-family:Helvetica,Arial,sans-serif;
 font-size: 20px;
 box-sizing: border-box;
}
/* ---------------------------------------header------------------------- */
.menu{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 30px;
    font-size: 2em;
    display: none;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
    /* justify-content: center; */
}
nav{
    width: 100%; 
    background: #fff;
    padding-bottom: 40px; 
}
nav ul{
    font-size: 3vh;
    padding-top: 40px;
}
nav li{
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    text-transform: uppercase;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    
}
nav li:hover a{
    color: #a9733e;
}
nav li i:hover{
    color:#a9733e; 
}
.logo{
    width: 100px;
    height: 100px;
    float: left;
}
/* -------------------------------------------main---------------------------- */
main{
    padding-top: 7%;
}
h1{
    text-align: center;  
    font-style: oblique;
}
h2{
    text-align: left;
    padding: 5px;
    margin-left: 20px;
    
}
.container{
    width: 100%;
    height: 500px;
    background-image: url('portada.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(2,1fr); */
}
.galeria img{
    width: 90%;
    height: 300px;
    margin: 10px;
}
/* .img-centrado{
    margin-left: 30%;
}
.imagen1{
    margin-left: 15%;
} */
h3{
    margin-left: 20px;
}
/* ----------------------------------------------footer----------------------------- */
footer{
    padding-bottom: 19px;
    text-align: center;
    background: #131313;
    color: white;
}

/* ---------------------------------------------dia----------------------------- */
.h2-dia{
    margin-top: 2%;
    text-align: center;
    width: 98%;
}
.img-dia{
    margin-left: 30px;
    width: 500px;
    height: 400px;
}
/* ---------------------------mapa-------------------- */
iframe{
    width:1499px; 
    height:600px;
}
/* ---------------------------------RESPONSIVE DISING (EN PROCESO)-------------- */
@media only screen and (max-width:700px){
    .logo{
        display: none;
    }
    nav ul li i {
        color: #fff;
    }
    nav ul li a {
        color: #fff;
    }
    .nav__li{
        display: block;
        text-align: center;
        font-size: 1.5em;
        padding: 37px;
        margin: auto;
        margin-top: 15px;
    }
    nav ul li:hover{
        background: rgb(165, 162, 162);
    }
    nav{
        position: absolute;
        top: 0;
        opacity: .9;
    }
    nav ul{
        display: none;
        background: #2f3640;
        height: 100%;
    }
    nav{
        background: none;
    }
    .menu{
        display: block;
    }
    h1{
        padding-top: 17%;
    }
    .galeria{
        grid-template-columns: repeat(2,1fr);
    }
    .h2-galeria{
        text-align: center;
    }
    /* ------------------------------------------- */
    .h2-dia{
        padding: 10%;
    }
    iframe{
        margin-top: 4%;
        width: 540px;
        height: 550px;
    }
}

@media only screen and (max-width:500px){
    .galeria{
        grid-template-columns: 1fr;
    }
    .h2-galeria{
        text-align: center;
    }
}
